h2{
    text-align: center;
    padding-top: 3%;
    font-size: 3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#formul{
    padding: 1% 25% 1% 25%;
    margin: 2% 10% 5% 10%;
    /* background-color: blanchedalmond; */
}
#formul p{
    font-family: sans-serif;
    font-style: italic;
    text-decoration-style: solid;
}
#formul input{
    width: 100%;
}
#formul textarea{
    width: 100%;
}
#boton{
    background-color: aliceblue;
}
#boton:hover{
    background-color: bisque;
}

/* Contenidos */
#centro{
    padding: 2% 3% 2% 3%;
    text-align: justify;
    font-size: 1.5em;
    font-family: fantasy;
}
#centro table{
    width: 140%;
}
#centro td{
    padding: 1%;
    width: 100%;
}
/* Porductos */
#centro table{
    padding: 2% 2% 2% 2%;
    width: 80%;
    margin: 2% 10% 2% 10%;
}